/* Estilos para o mapa */
#map {
    width: 100%;
    height: 100vh; /* Altura relativa à viewport */
    position: relative;
}

/* Estilos para a barra de busca e botões */
#search-container {
    position: absolute;
    bottom: 20px;
    left: 10px;
    display: flex;
    gap: 10px; /* Espaço entre os botões */
    align-items: center; /* Alinha os itens verticalmente no centro */
    z-index: 1000; /* Para garantir que a barra fique acima do mapa */
}

#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 150px; /* Largura fixa para o campo de busca */
}

#search-input:focus {
    border-color: #3498db;
}

#search-button, #manual-update-btn, #new-table-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-button:hover, #manual-update-btn:hover, #new-table-btn:hover {
    background-color: #2980b9;
}

/* Estilo de carregamento */
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2000; /* Para garantir que o carregamento esteja no topo */
}

/* Estilos responsivos para pop-ups */
.leaflet-popup-content-wrapper {
    max-width: 200px;
}

/* Estilos responsivos para marcadores */
.leaflet-marker-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
    height: 32px;
}

/* Efeito visual quando o botão de atualização está carregando */
#manual-update-btn.loading {
    background-color: #666;
    cursor: not-allowed;
}

/* Estilos para telas menores */
@media screen and (max-width: 600px) {
    #search-input {
        width: 120px; /* Reduz o tamanho do campo de busca */
        font-size: 14px;
    }

    #search-button, #manual-update-btn, #new-table-btn {
        padding: 8px 10px;
        font-size: 14px;
    }
}
/* Estilo para centralizar o captcha */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f5f5f5;
	font-family: Arial, sans-serif;
}
.captcha-container {
	text-align: center;
	padding: 20px;
	background-color: white;
	box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}
